@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');

.default-font{
    font-family: "Roboto Mono", monospace !important;
}

body, h1, h2, h3, h4, h5, h6, p{
    .default-font();
}

body{
    background-color: #f8f9fa;
}

#sidemenu{
    background-color: #469d89;
    border-right: 1px solid #358f80;
    height: 100vh;
    width: 250px;
}

#main{
    border-left: 2px solid #e9ecef;
    background: none;

    .profile-picture-wrapper{
        margin-top: -58px;
    }

    .profile-picture-header{
        display: block;
        margin: auto;
        width: 128px;
        height: 128px;
    }
}